/* || General */

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0px;
}

/* ||| Header */

header {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0px 75px;
}

header > h1 {
    color: #F9FAF8;
    font-size: 24px;
}

header > ul {
    /* Removes bullet point and paddding from header links */
    list-style: none;
    padding: 0px;
}

header a {
    /* Alters font color and removes underline from header links */
    text-decoration-line: none;
    color: white;
}

/* ||| Hero Section */

.section--hero {
    background-color: #1F2937;
    padding: 25px 75px 100px 75px;
}

.section--hero_text > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.section--hero_text > p {
    color: #E5E7EB;
    font-size: 18px;
}

.section--hero_text > button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 15px;
    border: none;
    border-radius: 7px;
}

.section--hero > img {
    flex: 1;
    height: auto;
    width: 200px;
}

/* ||| Info Section */

.section--info {
    padding: 25px 75px 100px 75px;
}

.section--info > h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.section--info_card > img {
    border: solid #3882F6;
    height: auto;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px;
}

/* ||| Quote Section */

.section--quote {
    background-color: #E5E7EB;
    color: #1f2937;
    padding: 100px 75px 100px 75px;
}

.section--quote > p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.section--quote > div {
    font-size: 24px;
    font-weight: 900;
}

/* ||| CTA Section */

.section--cta {
    color: #E5E7EB;
    background-color: #3882F6;
    margin: 50px 75px;
    padding: 20px 50px 35px 50px;
    border-radius: 20px;
}

.section--cta_text > h3, .section--cta_text >p {
    /* Removes default margins */
    margin: 0px;
}

.section--cta_text > h3 {
    font-size: 24px;
    font-weight: 800;
}

.section--cta_text > p {
    font-size: 18px;
    font-weight: 200;
}

.section--cta > button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 600;
    border: solid #E5E7EB;
    border-radius: 10px;
    padding: 5px 20px;
    width: 125px;
}

/* || Flexbox Layout */

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* ||| Header */

header {
    display: flex;
    justify-content: space-between;
}

header > ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* ||| Hero Section */

.section--hero {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section--hero_text {
    flex: 1;
}

/* ||| Info Section */


.section--info_card_content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.section--info_card {
    flex: 1 1 auto;
    text-align: center;
}

/* ||| Quote Section */

.section--quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.section--quote > div {
    align-self: flex-end;
}

/* ||| CTA Section */

.section--cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.section--cta_text {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.section--cta > button {
    flex: 1;
}